<div class="container">
  <footer
    class="flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a href="/" class="nav-link px-2 link-secondary">Home</a>
      </li>
      <li>
        <a href="/features" class="nav-link px-2 link-dark">Features</a>
      </li>
      <li>
        <a href="/jobs" class="nav-link px-2 link-dark">Jobs</a>
      </li>
      <li>
        <a href="/pricing" class="nav-link px-2 link-dark">Pricing</a>
      </li>
    </ul>
    <div class="col-md d-flex align-items-center">
      <span class="text-muted">&copy; 2023 Sojob, Inc</span>
    </div>
  </footer>
</div>
