<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sojob Careers</title>

    <!-- custom css file -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %} {% include 'banner.html' %}
    <div class="container">
      <h1
        class="text-center mt-4 mb-2"
        style="font-size: 4rem; font-weight: 700;"
      >
        Sojob Careers
      </h1>

      <!-- <h2 class="text-center mb-2 mt-4" style="font-size: 3rem;"> -->
      <!-- company_name variable from app.py using jinja2 -->
      <!-- About Sojob -->
      <!-- </h2> -->

      <p class="lead" id="about">
        Sojob Careers is a platform that connects job seekers and employers in
        Nepal. Whether you are looking for a full-time, part-time, or freelance
        opportunity, Sojob Careers can help you find your ideal match. You can
        browse through hundreds of jobs in various fields and industries, from
        social media marketing to public health, from UNICEF to Marriott Hotels.
        You can also create your profile, upload your resume, and apply for jobs
        with just a few clicks. Sojob Careers is your partner in achieving your
        career goals. Join us today and discover the possibilities
      </p>

      <h2 class="text-center mb-2 mt-4" style="font-size: 3rem;">
        Job Openings
      </h2>
      <div class="positions-main-container">
        <!-- for loop using jinja2 -->
        {% for job in jobs %} {% include 'job_item.html' %} {% endfor %}
      </div>
      <div class="text-center">
        <a
          href="mailto:sthasuyash11@gmail.com?subject=Queries on job openings"
          class="btn btn-primary btn-lg"
          >Contact Us</a
        >
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
