<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ job.title }} - Sojob Careers</title>
  </head>
  <body>
    <h2>Title</h2>
    <p>{{ job.title }}</p>
    <h2>Location</h2>
    <p>{{ job.location }}</p>
    <h2>Salary</h2>
    <p>{{ job.currency }} {{ job.salary }}</p>
    <h2>Responsibilities</h2>
    <p>{{ job.responsibilities }}</p>
    <h2>Requirements</h2>
    <p>{{ job.requirements }}</p>
  </body>
</html>
